@import '~antd/dist/antd.css';

.magazine {
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.magazine .page {
  height: 100%;
}

.magazine .page img {
  max-width: 100%;
  height: 100%;
}

.magazine .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
  z-index: 500;
  pointer-events: none;
	background:linear-gradient(to right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
}

.page-wrapper{
  
  
  /* box-shadow:  0 0 20px rgba(0,0,0,0.15)  !important;
  transition: box-shadow 0.3s ease-in-out; */
}

.magazine .odd .gradient{
	position:absolute;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
  z-index: 500;
  pointer-events: none;
	background:linear-gradient(to left, rgba(0,0,0,0) 95%, rgba(0,0,0,0.2) 100%);
	background-image:-webkit-linear-gradient(right,rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 95%, rgba(0,0,0,0.15) 100%);
}

a { 
  border: 2px solid transparent; /* <- here */
  transition: border 0.3s;
  text-decoration: none; /* I added this for clarity of effect */
}
a:hover {
  border: 2px solid red;
}

html, body, #root, .App{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body{
    background-color: #999999;
}

.video-js .vjs-control-bar { 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}